@font-face {
    font-family: 'Greycliff CF';
    src: url('../Ressources/Fonts/GreycliffCF-Heavy.woff2') format('woff2'),
        url('../Ressources/Fonts/GreycliffCF-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'LemonYellowSun';
    src: url('../Ressources/Fonts/LemonYellowSun.woff2') format('woff2'),
        url('../Ressources/Fonts/LemonYellowSun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cubano';
    src: url('../Ressources/Fonts/Cubano-Regular.woff2') format('woff2'),
        url('../Ressources/Cubano-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../Ressources/Fonts/GreycliffCF-Regular.woff2') format('woff2'),
        url('../Ressources/Fonts/GreycliffCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

