*{
  box-sizing: border-box;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.logo{
  position: absolute;
  top:0px;
  z-index: 3;
  width: 180px;
}

.placeholder{
  position: absolute;
  top: 0px;
  z-index:1;
  height: 90vh;
}
.play-button{
  width : 100px;
  height: 100px;
  z-index: 2;
}

img{
  width:100%;
}