@keyframes jump {
  50% {
    transform: translateY(-10px);
  }
}

*{
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

body{
  min-width:200px;
  overflow-x: hidden;
  font-family: 'Greycliff CF';
  font-size: 18px;
  line-height: 130%;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

main{
  margin-top: -100px;
  position: relative;
  z-index:1;
}

span{
  font-family: 'LemonYellowSun';
}

h1{
  font-family: 'Cubano';
  color: white;
  text-align: center;
  font-size:32px;
  padding: 4px 10px;
}
h2{
  text-align: center;
  padding: 20px;
}
h3{
  font-family: "LemonYellowSun";
  font-size: 28px;
}
a:hover, a h2:hover, .actu img:hover{
  transform: scale(1.01);
}

#lien{
  scroll-behavior: smooth;
}

.logo{
  position: absolute;
  top:0px;
  z-index: 100;
  width: 180px;
}

.titre{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: #FF0000;
  border-top-left-radius : 300px 150px;
  border-top-right-radius : 300px 150px;
  height:100px;
  width: 100vw;
  z-index: 5;
}
.arrowDiv{
  display: flex;
  justify-content: center;
}
.arrow{
  position: absolute;
  width: 90px;
  fill: #FF0000;
  bottom: -70px;
  animation: 1s jump ease-out infinite;
}

#lien:hover{
  transform: none;
}

.produit section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1C1C20;
  min-width: 200px;
  padding: 5% 0;
}

.noodles>h2, .ramen>h2, .soba>h2 {
  display: none;
}

.produit .article-content{
  display: flex;
  flex-direction: column;
  background-color:white;
}
section.ramen{
  background-color: white;
}
.ramen, .noodles, .soba{
  opacity: 0;
  transform: scale(1.4);
  transition: all 0.4s;
}

.titre-produit{
  height: 200px;
  width: auto;
}
img{
  width:200px;
}

.valeurs{
  background-color: white;
}

.valeurs .titre, .actu .titre{
  border-top-left-radius : 0;
  border-top-right-radius : 0;
  border-bottom-left-radius : 300px 150px;
  border-bottom-right-radius : 300px 150px;
}

.valeurs, .valeurs section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.valeurs h2{
  font-family: 'LemonYellowSun';
  font-size: 33px;
}
.valeurs section{
  padding: 15px 10px;
  margin: 20px 20px;
}
.valeurs p{
  text-align: center;
}
.valeurs section:last-of-type{
  margin-bottom:20px;
}
.separateur-nouilles{
  display: flex;
  justify-content: center;
}

.histoire section{
margin: 15px;
}

.histoire h3{
  margin-bottom: 5px;
}
.date-explain{
  margin-left: 30px;
}
.timeline{
  background: url("../Ressources/Images/timeline.svg") repeat-y top left 15px;
}
.point{
  width: 10px;
  height:10px;
  border-radius: 50% 50%;
  background-color: #FF0000;
}

.actu h1{
  position: relative;
}

.actu section:first-of-type{
  margin-top:-50px;
  position: relative;
  z-index:1;
}
.actu img{
  display:block;
  margin:0 auto;
  width: 100%;
  max-width:500px;
}

.bordure{
  position: relative;
  margin: 0 auto 20px auto;
  height: 3px;
  width: 70%;
  background-color: #FF0000;
}

#bgvid{
  top : 0px;
  min-width: 100vw;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  /* background: url("../Ressources/Images/place-holder-video.png")no-repeat;
  background-size: cover; */
}

.reached{
  opacity:1;
  transform: none;
}

@media (min-width: 700px){
  .titre-produit{
    height: auto;
    transform: rotate(-90deg) scale(1.5);
  }

  #titre-ramen{
    transform: rotate(90deg) scale(1.5);
  }

  .image-produit{
    transform: scale(1.5);
  }

  .titre{
    flex-direction: row;
  }

  .titre h1, .titre{
    font-size: 42px;
  }

  #bgvid{
    transform: scale(1.2);
  }
}


@media (min-width: 900px){
  #bgvid{
    position: absolute;
    transform: none;
  }
} 

@media (min-width: 1000px){
  .valeurs .titre, .actu .titre, .titre{
    border-radius: 0;
  }

  #produits .article-content{
    background-color: transparent;
  }

  .produit{
    height: 100vh;
    background: url("../Ressources/Images/nouille-incline-bg.png") no-repeat top right, url("../Ressources/Images/Ellipse-bg-index.png") no-repeat top left;
    background-color: white;
  }

  .produit .article-content{
    height: 85%;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
  }

  .produit section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1C20;
    width: 350px;
    height: 350px;
    padding: 100px;
  }

  .titre-produit{
    display: none;
  }

  .article-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .valeurs section:last-of-type{
    margin-left: 0;
  }
  .valeurs section:first-of-type{
    margin-right: 0;
  }

  .separateur-nouilles{
    transform: rotate(90deg);
  }

  .photo-pub{
    width:100%;
    height:60vh;
    background: url("../Ressources/Images/photo-pub-bg.png") no-repeat center center;
    background-size: cover;
  }

 .timeline{
    background: url("../Ressources/Images/timeline-vertical.svg") repeat-y top center, url("../Ressources/Images/nouilles-cotes-bg.svg") repeat-y top right;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timeline h3{
    font-size: 40px;
    background-color: white;
    padding: 10px;
    margin: 0;
  }

  .timeline p{
    font-size: 23px;
    background-color: white;
    padding:10px;
    margin:0;
  }
  .point{
    display: none;
  }

  .date-explain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .actu section{
    max-width:400px;
    width: 100%;
  }
  .actu img{
    margin-top: 20px;
  }

  .actu section:first-of-type{
    margin-top:20px;
  }

  .arrow{
    width: 150px;
  }
}

@media (min-width:1100px){
  .actu section{
    max-width:500px;
  }
}
