* {
  box-sizing: border-box;
}
 /* ramen box */
nav {
  box-shadow: 0px -5px rgba(245, 245, 245, 0.781);
  position: fixed;
  bottom: 0 ;
  display: flex;
  background: rgba(245, 245, 245, 0.514);
  width: 100vw;
  height: 57vh;
  color: black;
  transform: translateY(50vh);
  transition: opacity 0.3s, transform 0.2s ;
}

.cake {
  opacity: 0;
}

.list {
  display: flex;
  list-style: none;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 4.5vh;
}

li {
  padding: 13px;
  font-size: 10vw;
}

.open-menu {
  position: fixed;
  cursor: pointer;
  margin-right: 45vw;
  margin-left: 45vw;
  background-color: whitesmoke;
  height: 6.5vh;
  width: 10vw;
}
.menu-icon svg {
  position: absolute;
}

.menu-icon svg.transparent{
  opacity: 0;
}

.menu-opener {
  position: fixed;
  width: 8vw;
}
.is-open {
  transform: none;
}

.menu-icon svg {
  width: 40px;
  height: 40px;
}

#kapa {
  transform: rotate(180deg);
}
