*{
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  font-family: 'Greycliff CF';
  font-size: 18px;
  line-height: 1.3;
  background: url("../Ressources/Images/produit-1-cup-noodle/noodles-bg.svg") no-repeat top left, url("../Ressources/Images/produit-1-cup-noodle/Ellipse-bg.svg") no-repeat top right;
  margin: 0 20px;
}

h1{
  font-family: 'LemonYellowSun';
  font-size: 70px;
  margin: -20% 0 30px 0;
  transform: translateY(-10vh) translateX(10vh)
  
}

a:hover{
  transform:scale(1.01);
}
.timer{
  transform: translateX(-10vh)
}

.logo{
  position: absolute;
  top:0px;
  z-index: 100;
  width: 180px;
  height: 90px;
}

.bottom-page img{
  align-self: flex-end;
}

.bottom-page{
  text-align: center;
  margin-bottom:30px;
}

.description{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

p{
  margin-bottom: 25px;
  font-size: 30px;
  text-align: center;
}

.bottom-page p{
  font-size: 20px;
}

header{
  display: flex;
  justify-content: center;
  margin-bottom:100px;
}

h2{
  display:flex;
  font-size: 30px;
  margin-bottom: 10px;
  text-decoration: underline;
  background-size: 50%;
  justify-content: center;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.soustitre{
  display: flex;
  justify-content: space-around;
}

.soustitre.ramen h1{
  margin: 0 5% 30px 0;
}

@media(min-width:550px){
  body{
    background: url("../Ressources/Images/produit-1-cup-noodle/noodles-bg.svg") no-repeat top left,
    url("../Ressources/Images/produit-1-cup-noodle/Ellipse-bg.svg") no-repeat top right;
  }
  .product{
    background: url("../Ressources/Images/produit-3-soba/soba-yakisoba-300.png")no-repeat 10% center,
    url("../Ressources/Images/produit-3-soba/soba-yakisoba-300.png")no-repeat center right 5%;
  }

  .text{
    flex-shrink: 1;
  }
}
@media(min-width:900px){
  .product{
    background: url("..//Ressources/Images/produit-3-soba/soba-chili-350.png") no-repeat 30% center,
    url("..//Ressources/Images/produit-3-soba/soba-chili-350.png") no-repeat center right 30%,
    url("../Ressources/Images/produit-3-soba/soba-yakisoba-300.png")no-repeat 5% center,
    url("../Ressources/Images/produit-3-soba/soba-yakisoba-300.png")no-repeat center right 5%;
  }
  .description{
    -webkit-flex-direction: row;
    flex-direction: row; 
  }

  .bottom-page{
    text-align: center;
    margin-bottom: 30px;
    min-width: 337px;
    margin-left: 30px;
  }
}