* {
  box-sizing: border-box;
}

/* ramen box */
.cls-1 {
  fill: #c1bdab;
}

.cls-2 {
  fill: #d5d2bd;
}

.cls-3 {
  fill: #e7e4cd;
}

.cls-4 {
  fill: #bd7155;
}
/* ramen menu mobile */
nav{
  z-index: 100;
}
 

.logo-bar{
  display: none;
}

#kapa {
  transform: rotate(180deg);
  min-width: 40px;
  max-width: 40px;
}

#kappa {
  min-width: 40px;
  max-width: 40px;
}

nav {
  position: fixed;
  bottom: 0 ;
  display: flex;
  width: 100vw;
  color: black;
  transform: translateY(200px);
  transition: opacity 0.3s, transform 0.2s ;
  justify-content: center;
}

.cake {
  opacity: 0;
}

.list {
  display: flex;
  list-style: none;
  line-height: 130%;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 45px;
}

li {
  margin-top: 5px;
  font-size: 30px;
  flex-grow: 1;
  padding: 10px;
}

li:hover {
  color:#FF0000;
}

.open-menu {
  width: 100vw;
  position: fixed;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.menu-icon svg {
  position: absolute;
  cursor: pointer;
}

.menu-icon svg.transparent{
  opacity: 0;
}

.menu-opener {
  position: fixed;
  width: 8vw;
}
.is-open {
  transform: none;
  background-color: white;
  display: flex;
  justify-content: center;
}

.menu-icon svg {
  width: 40px;
  height: 40px;
}

@media (min-width: 960px) {
/* ramen menu desktop */

  .logo-bar{
    position: absolute;
    top: 0;
    display: block;
    width: 180px;
    padding: 0;
    margin: 0 auto;
  }

  .logo-bar img{
    margin: 0 auto;
    width: 180px;
  }
  
  nav {
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100% ;
    position: fixed ;
    bottom: 15px ;
    background-color: black;
    opacity: 8;
    height: 70px;
    overflow: hidden;
    box-shadow: none;
    transform: none;
  }
    
  ul {
    list-style: none;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    width: 100vw;
    position: static;
    opacity: 1;
    transform: none;
    height: 80%;
    flex-direction: row;
    justify-content: space-around;
  }
  

  nav a {
    margin-bottom: 0;
    font-size: 1.5vw;
    color: white;
    text-transform: uppercase;
    font-family: 'Greycliff CF';
    font-weight: 900;
    padding: 25px;
    margin:0 20px;
    background-color: black;
  }
  
  .open-menu {
    display: none;
  }

  .is-open{
    background-color: black;
  }

  .list {
    flex-direction: row;
    margin-top: 0;
  } 
  nav li:nth-of-type(3), nav li:nth-of-type(4){
    text-align: right;
  } 
}


