h1{
  font-family: 'Cubano';
  font-size:32px;
}
h2{
  font-family: 'LemonYellowSun';
  font-size: 32px;
}
h3{
  font-family: "LemonYellowSun";
  font-size: 24px;
}
body, .article__title{
  font-family: 'Greycliff CF', Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.3;
}
span{
  font-family: 'LemonYellowSun';
}
figcaption {
  font-size: 16px;
  font-style: italic;
}