@font-face {
  font-family: 'Greycliff CF';
  src: url('../assets/fonts/GreycliffCF-Heavy.woff2') format('woff2'),
       url('../assets/fonts/GreycliffCF-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'LemonYellowSun';
  src: url('../assets/fonts/LemonYellowSun.woff2') format('woff2'),
       url('../assets/fonts/LemonYellowSun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cubano';
  src: url('../assets/fonts/Cubano-Regular.woff2') format('woff2'),
       url('../assets/fonts/Cubano-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../assets/fonts/GreycliffCF-Regular.woff2') format('woff2'),
       url('../assets/fonts/GreycliffCF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

